RPLCD==1.1.0

RPi.GPIO>=0.7.0
gpiozero>=2.0.0
board>=1.0.0

Adafruit-Blinka>=8.0.0
busio>=1.10.0

adafruit-circuitpython-dps310>=1.1.0
adafruit-circuitpython-bno08x>=0.10.0

adafruit-circuitpython-rfm9x>=2.2.0

pyserial>=3.5
pynmea2>=1.19.0

cryptography>=41.0.0
